<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0,user-scalable=no">
    <meta name="description" data-react-helmet="true" content="Dicether is an Ethereum based casino. It uses a smart contract based state channel implementation to provide a fast, secure and provably fair gambling experience. Place Dice, Keno, Plinko, Wheel and more.">
    <meta name="keywords" content="Ethereum, Gambling, Fair, State Channel, Dice, Wheel, Keno, Plinko">
    <meta name="author" content="Dicether">
    <meta property="og:title" content="Dicether" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dicether.com" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicon-96x96.png?resource') %>" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="<%= require('./assets/images/favicon.svg?resource') %>" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/images/apple-touch-icon.png?resource') %>" />
    <meta name="apple-mobile-web-app-title" content="Dicether" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:image" content="https://dicether.com<%= require('./assets/images/og_image.png?resource') %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root"></div>
</body>
</html>
